<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400&display=swap">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.4.1/css/bootstrap.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>TSF</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><i class="fas fa-book-reader"></i> TSF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>">
                    <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'hot' ? 'active' : '' %>">
                    <a class="nav-link" href="/hot"><i class="fab fa-hotjar hot-flame"></i> HOT</a>
                </li>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'football' ? 'active' : '' %>">
                    <a class="nav-link" href="/football"><i class="fas fa-futbol"></i> Football</a>
                </li>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'hockey' ? 'active' : '' %>">
                    <a class="nav-link" href="/hockey"><i class="fas fa-hockey-puck"></i> Hockey</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                    <a class="nav-link" href="/login"><i class="fas fa-user"></i> Login</a>
                </li>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                    <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign Up</a>
                </li>
                <% } else { %>
                <li class="nav-item"><a class="nav-link" href="/users/<%= currentUser.id %>">Signed In As
                        <%= currentUser.username %></a></li>
                <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-user-times"></i> Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div id="flash" class="container flash mt-4">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>

        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div class="container">