<%- include("./partials/header") %>

<!-- Content -->
<section class="container main-container">
        <h1 class="sport-headding">Our <i class="fas fa-futbol"></i> Football Forecasts</h1>
        <!-- Start of table  -->
        <table class="table table-hover table-dark">
                <thead>
                        <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Host</th>
                                <th scope="col">Guest</th>
                                <th scope="col">Coef</th>
                                <th scope="col">Forecast</th>
                                <th scope="col">Result</th>
                        </tr>
                </thead>
                <tbody>
                        <% var id=0%>
                        <% footballTabble.forEach(row =>{ id++%>
                        <tr>
                                <th scope="row"><%= id %></th>
                                <td><%= row.date %></td>
                                <td><%= row.time %></td>
                                <td><img class="img-flag"
                                                src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                                                alt="Flag_of_Spain"> <%= row.host %></td>
                                <td><img class="img-flag"
                                                src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                                                alt="Flag_of_England"> <%= row.guest %></td>
                                <td><%= row.coef %></td>
                                <td><%= row.forecast%></td>
                                <% if(row.result){ %>
                                <td><span class="green-dot"></span></td>
                                <% } else{%>
                                <td><span class="red-dot"></span></td>
                                <% } %>
                        </tr>
                        <% }); %>
                        <!-- <tr>
                <th scope="row">2</th>
                <td>17.10.19</td>
                <td>17:00</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> Real Madrid C.F.</td>
                <td><img class="img-flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg"
                        alt="Flag_of_the_Netherlands"> AFC Ajax</td>
                <td>2.02 / 2.67</td>
                <td>1X</td>
                <td><span class="green-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>16.10.19</td>
                <td>8:30</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"
                        alt="Flag_of_Italy"> Juventus F.C.</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Arsenal F.C.</td>
                <td>3.87</td>
                <td>2</td>
                <td><span class="red-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>18.10.19</td>
                <td>22:15</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> FC Barcelona</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Chelsea F.C.</td>
                <td>1.56</td>
                <td>2</td>
                <td>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>17.10.19</td>
                <td>17:00</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> Real Madrid C.F.</td>
                <td><img class="img-flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg"
                        alt="Flag_of_the_Netherlands"> AFC Ajax</td>
                <td>2.02 / 2.67</td>
                <td>1X</td>
                <td><span class="green-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>16.10.19</td>
                <td>8:30</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"
                        alt="Flag_of_Italy"> Juventus F.C.</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Arsenal F.C.</td>
                <td>3.87</td>
                <td>2</td>
                <td><span class="red-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>18.10.19</td>
                <td>22:15</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> FC Barcelona</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Chelsea F.C.</td>
                <td>1.56</td>
                <td>2</td>
                <td>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17.10.19</td>
                <td>17:00</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> Real Madrid C.F.</td>
                <td><img class="img-flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg"
                        alt="Flag_of_the_Netherlands"> AFC Ajax</td>
                <td>2.02 / 2.67</td>
                <td>1X</td>
                <td><span class="green-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>16.10.19</td>
                <td>8:30</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"
                        alt="Flag_of_Italy"> Juventus F.C.</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Arsenal F.C.</td>
                <td>3.87</td>
                <td>2</td>
                <td><span class="red-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>18.10.19</td>
                <td>22:15</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> FC Barcelona</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Chelsea F.C.</td>
                <td>1.56</td>
                <td>2</td>
                <td>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>17.10.19</td>
                <td>17:00</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> Real Madrid C.F.</td>
                <td><img class="img-flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg"
                        alt="Flag_of_the_Netherlands"> AFC Ajax</td>
                <td>2.02 / 2.67</td>
                <td>1X</td>
                <td><span class="green-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>16.10.19</td>
                <td>8:30</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"
                        alt="Flag_of_Italy"> Juventus F.C.</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Arsenal F.C.</td>
                <td>3.87</td>
                <td>2</td>
                <td><span class="red-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>18.10.19</td>
                <td>22:15</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> FC Barcelona</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Chelsea F.C.</td>
                <td>1.56</td>
                <td>2</td>
                <td>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>17.10.19</td>
                <td>17:00</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> Real Madrid C.F.</td>
                <td><img class="img-flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg"
                        alt="Flag_of_the_Netherlands"> AFC Ajax</td>
                <td>2.02 / 2.67</td>
                <td>1X</td>
                <td><span class="green-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>16.10.19</td>
                <td>8:30</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"
                        alt="Flag_of_Italy"> Juventus F.C.</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Arsenal F.C.</td>
                <td>3.87</td>
                <td>2</td>
                <td><span class="red-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>18.10.19</td>
                <td>22:15</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> FC Barcelona</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Chelsea F.C.</td>
                <td>1.56</td>
                <td>2</td>
                <td>
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>17.10.19</td>
                <td>17:00</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> Real Madrid C.F.</td>
                <td><img class="img-flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg"
                        alt="Flag_of_the_Netherlands"> AFC Ajax</td>
                <td>2.02 / 2.67</td>
                <td>1X</td>
                <td><span class="green-dot"></span></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>16.10.19</td>
                <td>8:30</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg"
                        alt="Flag_of_Italy"> Juventus F.C.</td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> Arsenal F.C.</td>
                <td>3.87</td>
                <td>2</td>
                <td><span class="red-dot"></span></td>
            </tr> -->
                </tbody>
        </table>
        <!-- End of table  -->
</section>

<%- include("./partials/footer") %>