<%- include("./partials/header") %>

<!-- Content -->
<section class="container main-container">
    <h1 class="sport-headding">Our <i class="fas fa-hockey-puck"></i> Hokey Forecasts</h1>
    <!-- Start of table -->
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Host</th>
                <th scope="col">Guest</th>
                <th scope="col">Coef</th>
                <th scope="col">Forecast</th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            <% var id=0%>
            <% hockeyTabble.forEach(row =>{ id++%>
            <tr>
                <th scope="row"><%= id %></th>
                <td><%= row.date.getDate() %>/<%= row.date.getMonth() %>/<%= row.date.getFullYear() %>
                </td>
                <td><%= row.date.getHours() %>:<%= row.date.getMinutes() %></td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg"
                        alt="Flag_of_Spain"> <%= row.host %></td>
                <td><img class="img-flag" src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg"
                        alt="Flag_of_England"> <%= row.guest %></td>
                <td><%= row.coef %></td>
                <td><%= row.forecast%></td>
                <% if(row.result){ %>
                <td><span class="green-dot"></span></td>
                <% } else{%>
                <td><span class="red-dot"></span></td>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <!-- End of table  -->
</section>

<%- include("./partials/footer") %>